*.egg-info
__pycache__
*.ckpt
*.bin
*.pkl
*.log
*.h5
*.xyz
*.aselmdb
*.npz
*.aselmdb

# environments
.venv/
.pyenv/
.env/

# VSCode debugger
.vscode/launch.json

# versions
_version.py

# cached
.*_cache/

# distribution
dist/